<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小居食堂</title>
    <link rel="stylesheet" type="text/css" href="/Menu/css/menu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../Menu/js/menu.js"></script>
</head>
<body>

<header>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" id="navBarNewDish" role="button">New</a>
        </div>
    </nav>
</header>

<main>


    <div class="page-expander">
        <div class="outer-wrapper normal-height-div">

            <div class="left-panel scroller normal-height-div" id="leftPanel">
                <div id="dishMetaContainer" class="list-group list-group-flush">
                </div>
            </div>

            <div class="page-divider normal-height-div"></div>

            <div class="main-panel scroller normal-height-div">
                <div class="main-active" id="mainActive">
                </div>

                <div class="main-hidden">
                    <div class="main-edit normal-height-div scroller" id="mainEdit">

                    </div>
                </div>
            </div>


        </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>